In [2]:
import numpy as np
letters = np.array([[
    ['a','b','c'],
    ['d','e','f']
],[
    ['g','h','i'],
    ['j','k','l']
]])

print (letters[1,0,2])
print (letters[:,1,0])
print (letters[0,1,:2])

i
['d' 'j']
['d' 'e']

In [3]:
letters[0,1,1]

'e'

In [5]:
letters[: ,0,0]

array(['a', 'g'], dtype='<U1')

In [7]:
import pandas as pd
pd.Series([2,4,8])

0    2
1    4
2    8
dtype: int64

In [13]:
d = {'col1': [0, 1, 2, 3], 'col2': pd.Series([2, 3], index=[2, 3])}
pd.DataFrame(data=d, index=[0, 1, 2, 3])

   col1  col2
0     0   NaN
1     1   NaN
2     2   2.0
3     3   3.0

In [16]:
pd.DataFrame(
  [[1,2,3],[4,5,6]],
  columns=['column 1', 'column 2', 'column 3'],
  index=['a', 'b']
   )

   column 1  column 2  column 3
a         1         2         3
b         4         5         6